
  <div class="row">
      <div class="large-4 medium-6 columns show-for-small">
        <img src="/assets/img/blog/blog-1.jpg" alt="Washington DC Open House consectutor">
        <div class="box-content">

          <span class="category">Event</span>
          <h3>Washington DC Open House consectutor.</h3>
          <p>Visit our DC location on Saturday the 20th from 9am to 5pm, consectetur adipisicing elit, sed dolor sin sit amet...</p>
          <a href="/events">Learn More</a>
        </div>

       </div>
      <div class="large-4 medium-6 columns show-for-medium">
        <img src="/assets/img/blog/blog-2.jpg" alt="10 Ways coding is not like in the movies">
          <div class="box-content">
          <span class="category">Article</span>
          <h3>10 Ways coding is not like in the movies.</h3>
          <p>While a career in coding can be rewarding, challenging, and exciting, lorem ipsum dolor sin sit amet...</p>
          <a href="/events">Learn More</a>
        </div>
       </div>
      <div class="large-4 columns show-for-large">
        <img src="/assets/img/blog/blog-3.jpg" alt="Hiring Event dolor site amet consec">
         <div class="box-content">
          <span class="category">Event</span>
          <h3>Hiring Event dolor site amet consec.</h3>
          <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Quisque faucibus eros eros, at condimentum elit eleifend in...</p>
          <a href="/events">Learn More</a>
        </div>
       </div>
  </div>
