<div class="form-wrapper">
  <span class="required">Required</span>
  <p class="form-title">Request Information</p>
  <form>
    <div class="row">
      <div class="first-name large-6 medium-6 columns">
        <label><span class="hide">First Name</span>
          <input type="text" placeholder="First Name" />
        </label>
      </div>
      <div class="last-name large-6 medium-6 columns">
        <label><span class="hide">Last Name</span>
          <input type="text" placeholder="Last Name" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label><span class="hide">Email Address</span>
          <input class="error" placeholder="Email Address" type="email" required />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label><span class="hide">Phone Number</span>
          <input type="text" placeholder="Phone Number" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label><span class="hide">Location</span>
          <select>
            <option value="husker">Location</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label><span class="hide">Course</span>
          <select>
            <option value="husker">Course</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
      </div>
    </div>

    <p>By clicking next, you consent to receive autodialed informational or marketing calls or texts from NYCDA at the phone number you provided. Consent is not required to purchase goods or services. You can always call us at <span class="phone-number">844-322-CODE</span>.</p>

    <input class="button large-12" type="submit" value="Get Started" />

    <a class="apply-now" href="#">Ready to apply now?</a>

  </form>
</div>
