<section data-tabs id="location-tabs">
<div class="row">
  <div class="columns">
    <ul class="vertical accordion-menu menu" data-accordion-menu>
      <li>
        <a id="initial-tab" href="#">NYC</a>
        <ul class="menu vertical sublevel-1" role="menubar">
          <li class="tabs-title is-active" role="menuitem"><a class="subitem" href="#panel1">NYC</a></li>
          <li class="tabs-title" role="menuitem">
            <a href="#panel2">Amsterdam</a>
            <ul class="menu vertical sublevel-2">
              <li class="tabs-title"><a class="subitem" role="menuitem" href="#panel2">Amsterdam 1</a></li>
              <li class="tabs-title"><a class="subitem" href="#panel2a">Amsterdam 2</a></li>
              <li class="tabs-title"><a class="subitem" href="#panel2b">Amsterdam 3</a></li>
            </ul>
          </li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel3">Salt Lake City</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel4">Seattle</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel5">Raleigh</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel6">DC</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel7">Atlanta</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel8">Philadelphia</a></li>
          <li class="tabs-title" role="menuitem"><a class="subitem" href="#panel9">Austin</a></li>
          <li class="tabs-title">
            <a href="#panel10">Other Locations</a>
            <ul class="menu vertical sublevel-2">
              <li class="tabs-title"><a class="subitem" href="#panel10">Other Location 1</a></li>
              <li class="tabs-title">
                <a href="#panel10a">Other Location 2</a>
                <ul class="menu vertical sublevel-3">
                  <li class="tabs-title"><a class="subitem" href="#panel10ai">Other Location 2a</a></li>
                  <li class="tabs-title"><a class="subitem" href="#panel10aii">Other Location 2b</a></li>
                  <li class="tabs-title"><a class="subitem" href="#panel10aiii">Other Location 2c</a></li>
                </ul>
              </li>
              <li class="tabs-title"><a class="subitem" href="#panel10b">Other Location 3</a></li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</div>
</section>


<section data-tabs id="location-tabs" class="desktop-tabs">
<ul class="dropdown menu" data-dropdown-menu="ppye75-dropdown-menu" role="menubar" aria-expanded="false" data-options="disableHover:true;clickOpen:true">
  <li class="tabs-title is-active" role="menuitem"><a href="#panel1">NYC</a></li>
  <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Item 2" data-is-click="false">
    <a>Amsterdam</a>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel2">Amsterdam 1</a></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel2a">Amsterdam 2</a></li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel2b">Amsterdam 3</a></li>
    </ul>
  </li>
  <li class="tabs-title" role="menuitem"><a href="#panel3">Salt Lake City</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel4">Seattle</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel5">Raleigh</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel6">DC</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel7">Atlanta</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel8">Philadelphia</a></li>
  <li class="tabs-title" role="menuitem"><a href="#panel9">Austin</a></li>

   <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Other Locations" data-is-click="false">
    <a>Other Locations</a>
    <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel10">Other Location 1</a></li>
      <li role="menuitem" class="is-dropdown-submenu-parent is-submenu-item is-dropdown-submenu-item opens-right" aria-haspopup="true" aria-label="Item 1B" data-is-click="false">
        <a href="#panel10a">Other Location 2</a>
        <ul class="menu submenu is-dropdown-submenu vertical" data-submenu="" aria-hidden="true" role="menu">
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel10ai">Other Location 2a</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel10aii">Other Location 2b</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel10aiii">Other Location2c</a></li>
        </ul>
      </li>
      <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item tabs-title"><a href="#panel10b">Other Location 3</a></li>
    </ul>
  </li>
</ul>
</section>

   <div class="tabs-content" data-tabs-content="location-tabs">
     <div class="tabs-panel is-active" id="panel1">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>New York</h3>

             <span class="location-name">NYCDA Headquaters</span>
             <address>90 John Street, Suite #404, <br> Manhattan NY</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="new-york-city">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel2">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Amsterdam 1</h3>

             <span class="location-name">B. Amsterdam @ Johan Huizingalaan 763A</span>
             <address>1066 VH Amsterdam, <br> Netherlands</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/amsterdam">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel2a">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Amsterdam 2</h3>

             <span class="location-name">B. Amsterdam @ Johan Huizingalaan 763A</span>
             <address>1066 VH Amsterdam, <br> Netherlands</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/amsterdam">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel2b">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Amsterdam 3</h3>

             <span class="location-name">B. Amsterdam @ Johan Huizingalaan 763A</span>
             <address>1066 VH Amsterdam, <br> Netherlands</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/amsterdam">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel3">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Salt Lake City</h3>

             <span class="location-name">5225 Wiley Post Way, Suite 300</span>
             <address>Salt Lake City <br> Utah</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/salt-lake-city">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel4">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Seattle</h3>

             <span class="location-name">WeWork @ 500 Yale Avenue North</span>
             <address>Seattle WA</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/seattle">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel5">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Raleigh</h3>

             <span class="location-name">4 Copley Pkwy</span>
             <address>Morrisville, NC</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/raleigh">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel6">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>DC</h3>

             <span class="location-name">1133 15th Street, NW Suite 200</span>
             <address>Washington, DC</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/washington-dc">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel7">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Atlanta</h3>

             <span class="location-name">3101 Towercreek Parkway SE, Suite #700</span>
             <address>Atlanta, GA</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/atlanta">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel8">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Philadelphia</h3>

             <span class="location-name">1601 Cherry St, 8th Floor</span>
             <address>Philadelphia, PA</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/philadelphia">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel9">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Austin</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>
     <div class="tabs-panel" id="panel10">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Locations</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>

     <div class="tabs-panel" id="panel10a">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Locations 2</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>

     <div class="tabs-panel" id="panel10ai">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Locations 2a</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>

     <div class="tabs-panel" id="panel10aii">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Locations 2b</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>

     <div class="tabs-panel" id="panel10aiii">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Locations 2c</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>

     <div class="tabs-panel" id="panel10b">
       <div class="row">
         <div class="large-5 medium-6 columns location-image">
           <div class="carrot-left">
             <img class="carrot" src="/assets/img/carrot-left.png" alt="<">
           </div>
           <img src="/assets/img/locations/new-york.jpg" alt="new york">
         </div>
         <div class="large-3 medium-6 columns location-address">

             <h3>Other Location 1c</h3>

             <span class="location-name">8501 N Mopac Expy #100</span>
             <address>Austin, TX</address>

         </div>
         <div class="large-3 medium-6 columns location-cta">
           <a class="small button radius" href="/austin">View this location</a>
         </div>
       </div>
     </div>


   </div>

</div>

<div id="popular-courses" class="row">
   <div class="large-5 medium-5 columns">
     <span class="popular">most popular courses in this location:</span>
   </div>
   <div class="large-3 medium-3 large-offset-1 medium-offset-1 columns">
     <ul>
       <li>Lorem ipsum dolor sit amet</li>
       <li>Consectetur adipiscing elit</li>
       <li>Integer lacinia rutrum metus</li>
     </ul>
   </div>
   <div class="large-3 medium-3 columns">
     <ul>
       <li>Lorem ipsum dolor sit amet</li>
       <li>Consectetur adipiscing elit</li>
       <li>Integer lacinia rutrum metus</li>
     </ul>
   </div>
 </div>
