<div id="your-campus-wrapper" class="large-3 medium-3 columns">
   <div class="your-campus">
     <span class="campus-info">Nearest Campus: <span class="campus-name">Salt Lake City</span></span>
   </div>
</div>
<div id="more-locations" class="large-9 medium-9 columns">
  <ul>
    <li><a href="/new-york-city">NYC</a></li>
    <li><a href="/amsterdam">Amsterdam</a></li>
    <li><a href="/salt-lake-city">Salt Lake City</a></li>
    <li><a href="/seattle">Seattle</a></li>
    <li><a href="/raleigh">Raleigh</a></li>
    <li><a href="/washington-dc">DC</a></li>
    <li><a href="/atlanta">Atlanta</a></li>
    <li><a href="/philadelphia">Philadelphia</a></li>
    <li><a href="/austin">Austin</a></li>
  </ul>
</div>
