<div class="row small-up-2 medium-up-3 large-up-5">
  <div class="column">
    <img src="/assets/img/partner-logos/apple.png" alt="apple">
  </div>
  <div class="column">
    <img src="/assets/img/partner-logos/aol.png" alt="aol">
  </div>
  <div class="column">
    <img src="/assets/img/partner-logos/buzzfeed.png" alt="buzzfeed">
  </div>
  <div class="column">
    <img class="hide-tablet" src="/assets/img/partner-logos/google.png" alt="google">
  </div>
  <div class="column">
    <img class="hide-tablet hide-for-small" src="/assets/img/partner-logos/hearst.png" alt="hearst">
  </div>
</div>

<div class="row small-up-2 medium-up-3 large-up-5">
  <div class="column">
    <img src="/assets/img/partner-logos/the-huffington-post.png" alt="huffington post">
  </div>
  <div class="column">
    <img src="/assets/img/partner-logos/warner-bros.png" alt="barner brothers">
  </div>
  <div class="column">
    <img src="/assets/img/partner-logos/uncubed.png" alt="uncubed">
  </div>
  <div class="column">
    <img class="hide-tablet" src="/assets/img/partner-logos/zeta-interactive.png" alt="zeta interactive">
  </div>
  <div class="column">
    <img class="hide-tablet hide-for-small" src="/assets/img/partner-logos/xaxis.png" alt="xaxis">
  </div>
</div>
